@{
    ViewData["Title"] = "You need to enable JavaScript / Mae angen i chi alluogi JavaScript";
    Layout = "_LayoutNoJs";
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="javascript-required-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
            <h1 class="govuk-heading-l">You need to enable JavaScript</h1>
            <p class="govuk-body">This service needs JavaScript to work properly. Your browser does not allow it at the moment. If you’re unable to do this, you can contact the helpdesk.</p>
            <br />
            <h1 class="govuk-heading-l">Mae angen i chi alluogi JavaScript</h1>
            <p class="govuk-body">Mae angen JavaScript ar y gwasanaeth hwn i weithio'n iawn. Nid yw eich porwr yn caniatáu hynny ar hyn o bryd. Os na allwch wneud hyn, gallwch cysylltwch â'r ddesg gymorth.</p>
            <br />
            <p class="govuk-body govuk-!-margin-bottom-2">Telephone: / Ffon: 0300 060 0002</p>
            <p class="govuk-body">Email: / Ebost: <a class="govuk-link govuk-link--no-visited-state" href="mailto:eprcustomerservice@defra.gov.uk">eprcustomerservice@defra.gov.uk</a></p>
        </div>
    </div>
</main>
