@using FrontendSchemeRegistration.Application.Enums
@model FrontendSchemeRegistration.UI.ViewModels.Shared.ComplianceSchemeRegistrationHeadingViewModel

@if (Model.ShowRegistrationCaption)
{
    if (Model.RegistrationJourney == RegistrationJourney.CsoSmallProducer)
    {
        <p class="govuk-caption-l">@Localizer["register_company_size_small", Model.RegistrationYear.GetValueOrDefault()]</p>    
    }
    else if (Model.RegistrationJourney == RegistrationJourney.CsoLargeProducer)
    {
        <p class="govuk-caption-l">@Localizer["register_company_size_large", Model.RegistrationYear.GetValueOrDefault()]</p>
    }
}
<h1 class="govuk-heading-l govuk-!-margin-bottom-4">
    @if (Model.Heading is null)
    {
        @Model.LocalizedHeading
    }
    else
    {
        @Model.Heading
    }
</h1>
