@{
    var isPdf = ViewData["IsPdf"] as bool? ?? false;
    var fileExtension = isPdf ? "png" : "svg";
}

<div class="prn-logos-container">
    <div class="prn-logos-items">
        <img class="@(isPdf ? "prn-pdf-logo" : "")" alt="prn-pdf-logo" aria-hidden="true" focusable="false" src="~/images/ea_logo.@fileExtension">
    </div>
    <div class="prn-logos-items">
        <img class="@(isPdf ? "prn-pdf-logo" : "")" alt="prn-pdf-logo" aria-hidden="true" focusable="false" src="~/images/niea_logo.@fileExtension">
    </div>
    <div class="prn-logos-items">
        <img class="@(isPdf ? "prn-pdf-logo" : "")" alt="prn-pdf-logo" aria-hidden="true" focusable="false" src="~/images/sepa_logo.@fileExtension">
    </div>
    <div class="prn-logos-items">
        <img class="@(isPdf ? "prn-pdf-logo" : "")" alt="prn-pdf-logo" aria-hidden="true" focusable="false" src="~/images/nrw_logo.@fileExtension">
    </div>
</div>
