@using FrontendSchemeRegistration.UI.ViewModels.Prns
@model PrnAcceptViewModel

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <form class="form" method="POST">
                <h2 class="govuk-heading-l">Accept this PRN?</h2>

                <div class="govuk-inset-text">
                    This will credit @Model.PrnAmount tonnes towards your obligation.
                </div>

                <button class="govuk-button" asp-action="AcceptPRN" asp-controller="Prns">
                    Yes, accept
                </button>

                <button class="govuk-button" asp-action="RejectPRN" asp-controller="Prns">
                    No, go back
                </button>

            </form>
        </div>
    </div>
</main>