@using FrontendSchemeRegistration.UI.Controllers.Prns
@inject IStringLocalizer<PrnDataResources> PrnDataLocalizer

@{
    ViewData["Title"] = Localizer["page_title"];
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="select-multiple-prns">

    @await Html.PartialAsync("Partials/Prns/_notificationBanner")

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-xl">@Localizer["accept_or_reject_prns_and_perns"]</h1>
            <p class="govuk-body">@Localizer["you_have_no_prns_or_perns_awaiting_acceptance"]</p>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            @Html.ActionLink(Localizer["manage_your_recycling_obligations"].Value, nameof(PrnsObligationController.ObligationsHome), "PrnsObligation",
                     null,
                     new
                     {
                         @class = "govuk-button govuk-button--primary"
                     })
        </div>
    </div>
</main>