@inject Microsoft.Extensions.Options.IOptions<LargeProducerRegistrationWarning> LargeProducerBannerConfig
@{
    var showBanner = LargeProducerBannerConfig.Value.IsActiveToday();
}

@if (showBanner)
{
    <div class="govuk-grid-row govuk-!-margin-bottom-8">
        <div class="govuk-grid-column-full">
            <div class="govuk-notification-banner govuk-!-margin-bottom-0" role="region" aria-labelledby="show-nominated-notification-title"
                 data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="show-nominated-notification-title">
                        @Localizer["important"]
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        @(Model
                            ? Localizer["apply_for_registration_compliance"]
                            : Localizer["apply_for_registration"])
                    </p>
                    <p>
                        @(Model
                            ? Localizer["apply_for_registration_late_fee_compliance"]
                            : Localizer["apply_for_registration_late_fee"])
                    </p>
                </div>
            </div>
        </div>
    </div>
}