@model FrontendSchemeRegistration.UI.ViewModels.Shared.Components.NotificationBanner.NotificationBannerViewModel
@{
    // Title should always have a resource value
    var title = Localizer[Model.TitleResource];

    // These are optional; though one should have a resource value
    var header = Localizer[Model.HeaderResource];
    var body = Localizer[Model.BodyResource];
}

<div class="govuk-notification-banner"
     role="alert"
     aria-labelledby="govuk-notification-banner-title"
     data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            @title
        </h2>
    </div>

    <div class="govuk-notification-banner__content">
        @if (!header.IsResourceNotFound && !string.IsNullOrWhiteSpace(header.Value))
        {
            <h3 class="govuk-notification-banner__heading">
                @header
            </h3>
        }
        @if (!body.IsResourceNotFound && !string.IsNullOrWhiteSpace(body.Value))
        {
            <p class="govuk-body">
                @body
            </p>
        }
    </div>
</div>