**/.classpath
**/.claude
**/.dockerignore
**/.DS_Store
**/.env
**/.git
**/.gitignore
**/.idea
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.coverage
**/*.dbmdl
**/*.jfm
**/*.log
**/*.trx
**/*.user
**/azds.yaml
**/bin
**/charts
**/coverage
**/docker-compose*
**/Dockerfile*
**/node_modules
**/obj
**/secrets.dev.yaml
**/TestResults
**/Thumbs.db
**/values.dev.yaml
LICENSE
README.md
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
