@using FrontendSchemeRegistration.Application.Enums
@model CsocViewModel?

@if (Model is not null && Model.IsApprovedUser)
{
    var key = Model switch
    {
        { IsComplianceScheme: true } => "compliance_scheme",
        { IsDirectProducer: true } => "direct_producer",
        _ => null
    };

    if (key is not null)
    {
        var isSubmitted = Model.ComplianceDeclarationStatus is ComplianceDeclarationStatus.Submitted
            or ComplianceDeclarationStatus.Accepted;
        var bulletKey = isSubmitted ? $"bullet_view_{key}" : $"bullet_{key}";
        <li>@Localizer[bulletKey]</li>
    }
}
