@model CsocViewModel?

@if (Model is not null && Model.IsApprovedUser)
{
    var key = Model switch
    {
        { IsComplianceScheme: true } => "bullet_compliance_scheme",
        { IsDirectProducer: true } => "bullet_direct_producer",
        _ => null
    };
    
    if (key is not null)
    {
        <li>@Localizer[key]</li>
    }
}