@model CsocViewModel?

@if (Model is not null)
{
    var key = Model switch
    {
        { IsComplianceScheme: true } => "paragraph_compliance_scheme",
        { IsDirectProducer: true } => "paragraph_direct_producer",
        _ => null
    };

    if (key is not null)
    {
        <p class="govuk-body">
            @string.Format(Localizer[key].Value, Model.SubmissionDeadline)
        </p>
    }
}