@model CsocViewModel?

@if (Model is not null && Model.IsApprovedUser)
{
    var key = Model switch
    {
        { IsComplianceScheme: true } => "compliance_scheme",
        { IsDirectProducer: true } => "direct_producer",
        _ => null
    };
    
    if (key is not null)
    {
        <li>@Localizer[$"bullet_{key}"]</li>
    }
}